<!-- start: Main Menu -->
<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li><a href="/backend/index"><i class="icon-bar-chart"></i><span class="hidden-tablet">首页</span></a></li>       <li>
                <a class="dropmenu" href="#"><i class="icon-folder-close-alt"></i><span class="hidden-tablet">文章管理</span><span class="label label-important"> 2 </span></a>
                <ul>
                    <li><a class="submenu" href="/backend/article_list"><i class="icon-file-alt"></i><span class="hidden-tablet">文章列表</span></a></li>
                    <li><a class="submenu" href="/backend/article_trash"><i class="icon-file-alt"></i><span class="hidden-tablet">垃圾箱</span></a></li>
                </ul>
            </li>
            <li><a href="/backend/article_edit"><i class="icon-edit"></i><span class="hidden-tablet">编辑文章</span></a></li>

            <li><a href="/login"><i class="icon-lock"></i><span class="hidden-tablet">登陆页面</span></a></li>
        </ul>
    </div>
</div>
<!-- end: Main Menu -->