<head>
<title>{{title}}</title>
<!-- meta -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="zivsu">

<!-- css -->
<link href="{{static_url('frontend/css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{static_url('frontend/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
<link href="{{static_url('frontend/css/style.css')}}" rel="stylesheet" type="text/css" media="all" />

<!-- js -->
<script type="text/javascript" src="{{static_url('frontend/js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('frontend/js/common.js')}}"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js"></script>
<!-- Favicon -->
<link rel="shortcut icon" href="{{static_url('frontend/images/shortcut.PNG')}}">
</head>