<head>
<title>Home</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="zivsu">

<link href="{{static_url('frontend/css/bootstrap.css')}}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{static_url('frontend/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

<!--theme-style-->
<link href="{{static_url('frontend/css/style.css')}}" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{{static_url('frontend/js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('frontend/js/common.js')}}"></script>
<script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){ window.scrollTo(0,1); }
</script>


<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>

</head>