<nav class="navbar navbar-inverse top-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#blogNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo">
                <a class="navbar-brand" href="/home">ZivSu's blog</a>
            </div>
        </div>
        <div class="collapse navbar-collapse menu" id="blogNav">
            <ul class="nav navbar-nav">
                <li class="home"><a href="/home">Home</a></li>
                <li><a class="articles" href="/articles">Articles</a></li>
                <li><a class="about" href="/about">About</a></li>
                <li class="search-section">
                    <div>
                        <i class="icon-search search"></i>
                         <input type="text" id="search-field"  class="st-default-search-input st-default-search-input" autocomplete="off" autocorrect="off" autocapitalize="off">
                         <script type="text/javascript">
                          (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
                            (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
                            e=d.getElementsByTagName(t)[0];
                            s.async=1;
                            s.src=u;
                            e.parentNode.insertBefore(s,e);
                          })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

                          _st('install','6UHaKvSWx61sQix3bqKq','2.0.0');
                        </script>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
