<nav class="navbar navbar-inverse top-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#blogNav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo">
                <a class="navbar-brand" href="/home">ZivSu's blog</a>
            </div>
        </div>
        <div class="collapse navbar-collapse menu" id="blogNav">
            <ul class="nav navbar-nav">
                <li class="home"><a href="/home">Home</a></li>
                <li><a class="articles" href="/articles">Articles</a></li>
                <li><a class="about" href="/about">About</a></li>
            </ul>
        </div>
    </div>
</nav>
