<div class="col-md-4 sibebar-container">
    <div class="recent-post">
        <h4 class="category-title">Recent Post</h4>
        <div class="row">
            <!-- <div class="col-lg-6"> -->
                <ul class="list-unstyled">
                    {% for hot_article in hot_articles %}
                    <li><a href="/article/{{hot_article["slug"]}}"><i class="icon-caret-right"></i>{{hot_article["title"]}}</a>
                    </li>
                    {% end %}
                </ul>
            <!-- </div> -->
        </div>
    </div>

    <div class="category">
        <h4 class="category-title">Blog Categories</h4>
        <div class="row">
            <!-- <div class="col-lg-6"> -->
                <ul class="list-unstyled">
                    {% for tag_stat in tags_stats %}
                    <li><a href="/articles?tag={{tag_stat["name"]}}"><i class="icon-tag"></i>{{tag_stat["name"]}}<span>{{tag_stat["amount"]}}</span></a>
                    </li>
                    {% end %}
                </ul>
            <!-- </div> -->
        </div>
    </div>

    <div class="function">
        <h4 class="function-title">Function</h4>
        <div class="row">
            <div class="col-lg-6">
                <span><a href="#" class="icon-rss" target="_blank"><span>RSS</span></a></span>
                <span><a href="https://github.com/zivsu" class="icon-github" target="_blank"><span>GitHub</span></a></span>
                <span><a href="#" class="icon-facebook-sign" target="_blank"><span>Facebook</span></a></span>
            </div>
        </div>
    </div>

</div> <!-- end of sidebar -->
